.logo {
  // --- Balance logo simple
  &.balance-simple-img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
  &.balance-simple-txt {
    color: #0072ef;
    line-height: 1.5rem;
    margin: 0;
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
  }
}
