@use "../abstracts";

.header {
  // ----- background
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--black);
  background-color: var(--light-blue);
  background-image: url("/app/img/hero-circle.svg");
  background-repeat: no-repeat;
  background-position-y: 190%;
  background-position-x: 50%;
  background-size: 75rem;
  @include abstracts.breakpointUp(large) {
    background-position-x: calc(100vw / 2);
    background-position-y: 50%;
    background-size: 93.75rem;
  }

  // ----- nav
  &__nav-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 0 1.5rem;
    @include abstracts.breakpointUp(small) {
      padding: 2rem 0 2rem;
    }
    @include abstracts.breakpointUp(medium) {
      border-bottom: 1px solid var(--light-grey);
      padding: 1.5rem 2rem;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    @include abstracts.breakpointUp(medium) {
      flex-basis: 100%;
    }
  }

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__social-container {
    display: none;
    @include abstracts.breakpointUp(medium) {
      display: flex;
    }
  }

  // ----- hero
  &__hero-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 1rem 3rem 1rem;
    @include abstracts.breakpointUp(xsmall) {
      padding: 0 2rem 4rem 2rem;
    }
    @include abstracts.breakpointUp(medium) {
      padding: 2.5rem 2rem 4rem 2rem;
    }
    @include abstracts.breakpointUp(large) {
      padding: 6rem 2rem 6rem 2rem;
    }
  }

  &__hero {
    max-width: 75rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title title"
      "supporting supporting"
      "image image"
      "button button";
    @include abstracts.breakpointUp(large) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto 1fr;
      grid-template-areas:
        "title image"
        "supporting image"
        "button image";
    }
  }

  // # Title
  &__hero-heading {
    grid-area: title;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.1875rem;
    margin: 0 0 0.5rem 0;
    @include abstracts.breakpointUp(small) {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 3.75rem;
      text-align: left;
      align-self: flex-end;
    }
  }

  // # Supporting text
  &__hero-supporting-txt-container {
    grid-area: supporting;
    margin-bottom: 2.5rem;
    @include abstracts.breakpointUp(large) {
      margin: 0;
    }
  }

  &__hero-supporting-txt {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    @include abstracts.breakpointUp(small) {
      font-size: 1.25rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 1.5rem;
      text-align: left;
    }
  }

  // # Button
  &__hero-cta-container {
    grid-area: button;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &__hero-btn {
    display: inline-block;
    margin: 0 0 1.5rem 0;
    align-self: center;
    @include abstracts.breakpointUp(large) {
      align-self: start;
      margin: 3rem 0 1.5rem 0;
    }
  }

  &__hero-btn-tip {
    display: inline-block;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    color: var(--medium-grey);
    @include abstracts.breakpointUp(large) {
      text-align: left;
    }
  }

  // # Image
  &__hero-image-container {
    grid-area: image;
    margin: 0 1rem 2.5rem 1rem;
    display: flex;
    justify-content: center;
    @include abstracts.breakpointUp(small) {
      margin: 0 2rem 2.5rem 2rem;
    }
  }

  &__hero-image {
    flex-grow: 1;
    max-width: 28rem;
    @include abstracts.breakpointUp(large) {
      max-width: 37.5rem;
    }
  }

  // # Affiliate logos
  &__affiliates-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__affiliates {
    max-width: 90rem;
    margin: 0 2rem;
    display: grid;
    column-gap: 2rem;
    row-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "logo1 logo2"
      "logo3 logo4";
    @include abstracts.breakpointUp(xsmall) {
      margin: 0 3rem;
    }
    @include abstracts.breakpointUp(small) {
      margin: 0 2rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "logo1 logo2 logo3 logo4";
      column-gap: 1.25rem;
      align-items: center;
    }
    @include abstracts.breakpointUp(medium) {
      column-gap: 4rem;
    }
  }

  &__affiliate-logo {
    max-width: 150px;
  }

  &__affiliates :nth-child(1) {
    grid-area: logo1;
    justify-self: flex-end;
    @include abstracts.breakpointUp(medium) {
      justify-self: flex-start;
    }
  }

  &__affiliates :nth-child(2) {
    grid-area: logo2;
  }

  &__affiliates :nth-child(3) {
    grid-area: logo3;
    justify-self: flex-end;
    @include abstracts.breakpointUp(medium) {
      justify-self: flex-start;
    }
  }

  &__affiliates :nth-child(4) {
    grid-area: logo4;
  }
}
