:root {
  // --- colours
  --background-colour: hsl(0, 0%, 98%);
  --text-colour: hsl(0, 0%, 10%);
  --balance-blue: hsl(211, 100%, 47%);
  --balance-blue-hover: hsl(220, 100%, 40%);
  --white: hsl(0, 0%, 100%);
  // --- fonts
  --headings-font: 'Noto Serif', serif;
  --body-font: 'Noto Sans', sans-serif;
}
